/* common style  */
body {
    font-family: 'Poppins', sans-serif;

}

/* top side  */
.top_side {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
}

.top_title {
    padding-left: 40px;
    padding-top: 20px;
}

.top_title h1 {
    font-size: 40px;
}

.top_title a {
    text-decoration: none;
    background-color: rgb(226, 77, 50);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.top_image {
    width: 100%;
}

/* all innfo  */

b {
    background-color: black;
    margin-right: 10px;
    border-radius: 10px;
    height: 230px;
}

b h3 {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.the_blog {
    background-color: rgb(231, 88, 63);
    color: white;
}

.all_info {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}

.manu {
    border: 1px solid gray;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.info_box {
    border: 2px solid gray;
    border-radius: 15px;
}

.info_img {
    width: 100%;
    margin-bottom: 20px;
}

.info_info {
    padding-left: 15px;
    padding-bottom: 15px;
}

.info_info span {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}


.info_info p a {
    text-decoration: none;
}

/* footer  */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 50px;
    position: absolute;
    left: 0px;
    width: 100%;
}

footer p {
    display: flex;
    justify-content: space-around;
}